body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 900;
    box-sizing: border-box;
    text-align: center;
    
}

h1 {
    position: relative;
    font-weight: 300;
    font-size: 40px;
}

button {
    background-color:#c2c2c2;
    color: #151515;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    color: #151515;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}